* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}

html,
body {
	scroll-behavior: smooth;
}

header {
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	box-shadow: 0px 0px 3px black;
	padding: 20px;
	flex-wrap: wrap;
}

.div-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-logo p {
	font-size: 30px;
	font-weight: bold;
}

.menu {
	display: flex;
}

.menu li {
	margin: 10px;
	list-style: none;
}

.menu li a {
	text-decoration: none;
	color: gray;
}

.menu li a:hover {
	border-bottom: 2px red solid;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



.div-all-forms-buttons {
	width: 350px;
	height: 550px;
	background-color: rgba(255, 255, 255, 0.54);
	position: relative;
	top: 180px;
	border-radius: 7px;
}

.div-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.div-buttons div {
	cursor: pointer;
	font-weight: bold;
}

.div-btn-login-js {
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 4px
}

.div-forms {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.div-head-image {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-head-image img {
	width: 100px;
}

.all-forms {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.all-forms form input {
	height: 35px;
	width: 220px;
	padding-left: 10px;
	outline: none;
	border-radius: 4px;
	border: 1px gray solid;

}

.all-forms form input::placeholder {
	font-weight: bold;
}

.all-forms form button {
	width: 100%;
	height: 35px;
	cursor: pointer;
}

.btnLogin {
	background-color: #4CBB17;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}

.btnSignup {
	/*background-color: red;*/
	background-color: #4CBB17;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 4px;
}

.formLogin {
	position: relative;
}

.formSignup {
	position: absolute;
	top: 218px;
	display: none;
}

.link-login {
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 10px;
	cursor: pointer;
}



/**********************************************************************DIV-HOMEPAGE**********************************************************************/

.div-container-homepage {
	display: block;
	width: 100%;
	height: auto;
}


.div-background {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: red;
}